@import "tailwindcss";

/* DaisyUI v5 in v4 per CSS registrieren + konfigurieren */
@plugin "daisyui" {
    themes: light --default, dark;
    base: true;
    styled: true;
    utils: true;
    prefix: "";
    logs: false;
    root: ":root";
}
